# Ignore parent directories
OneDrive/
Desktop/
Documents/
internship*/

# Ignore other projects
fintech-review-analysis/
week3-insurance-analytics/

# Ignore OS files
Thumbs.db
.DS_Store

# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
